* {
    font-family: Trirong,sans-serif;
}
body {
    background-color: grey;
}
.img {
    width: 40%;
    margin: 0 auto;
    opacity: 1;
 }
header {
    background-image: url(../img/jumbo-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity:0.8;
}
#quotediv {
    margin-left: 3%;
    margin-right: 3%;   
    padding-bottom: 1%;
    
}
#quotediv p{
    color: black;
    text-align: center;
    font-size: 135%;
    font-style: italic;
}
